@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
}

p {
    color: grey;
    line-height: 1.5;
}

header {
    background-image: url('images/desktop/image-hero.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    padding: 3% 7%;
}

/*Navbar section*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    height: 100%;
}


.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;   
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.navbar-links li:hover {
    border-bottom: 1px solid #fff;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.2s linear;
}

.navbar.active .toggle-button .bar1 {
    transform: rotate(-40deg) translateY(10.5px);
}

.navbar.active .toggle-button .bar3 {
    transform: rotate(40deg) translateY(-10.5px);
}

.navbar.active .toggle-button .bar2 {
    display: none;
}

/*Banner*/

.banner {
    width: 50%;
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 1rem;
    margin-top: 4rem;
}


/*Leader Section*/
#leader {
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
#leader img {
    width: 600px;
}

.leader-info {
    position: relative;
    background-color: #fff;
    right: 10%;
    padding-left: 10%;
    padding-top: 5%;
}

/*Creation section*/

.mobile {
    display: none;
}

#creations {
    padding: 7%;
    position: relative;
}

.card {
    width: 280px;
    height: 300px;
    border: none;
    margin: 5.5rem 0;
}

.card-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    top: -5.5rem;
    margin-left: 1rem;
    width: 130px;
}

.see-all {
    position: absolute;
    top: 5.5rem;
    right: 12%;
    border: 1px solid grey;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.see-all:hover {
    background-color: lightgray;
}

.see-all-text {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Footer section*/

#footer {
    background-color: #000;
    width: 100%;
    padding: 7%;
    display: flex;
    justify-content: space-between;
}

#footer .navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1rem 0 0;
    font-size: 1.2rem;
}

#footer .navbar-links ul {
    margin-top: 2rem;
}

#footer p {
    margin-top: 2rem;
}

.social {
    display: flex;
    flex-direction: column;
}

.icons {
    align-self: flex-end;
}
.icons img {
    padding: 0 0.5rem;
}

@media (max-width: 1024px) {
    .banner {
        font-size: 3rem;
        width: 90%;
    }
    #leader {
        flex-direction: column;
        align-items: flex-start;
    }
    .card {
        width: 50%;
    }
    .see-all {
        top: 4rem;
        right: 7%;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    #footer .navbar-links ul {
        flex-direction: column;
    }
    .social {
        justify-content: center;
        align-items: center;
    }
    .icons {
        align-self: center;
    }
}

@media (max-width: 823px) {
    header {
        background-image: url('images/mobile/image-hero.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding: 0;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 0;
    }
    .logo {
        padding: 0 1.5rem;
    }
    .navbar.active {
        background-color: #000;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links.active {
        display: flex;
        position: absolute;
        top: 4rem;
        opacity: 1;
        z-index: 1;
    }
    .navbar-links {
        opacity: 0;
        width: 100%;
        transition: opacity 0.6s linear;
    }
    .navbar-links ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 0;
        background-color: #000;
        transition: height 0.6s linear;
    }
    .navbar-links.active ul {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .navbar-links li {
        padding: 0.5rem;
    }

    .navbar-links li:hover {
        border: none;
    }
    .navbar-links ul li a {
        text-transform: uppercase;
    }
    .banner {
        margin-left: 1.5rem;
        font-size: 2rem;
        width: 80%;
        margin-top: 4.5rem;
    }
    #leader {
        padding: 4rem 1.5rem;
    }
    #leader img {
        width: 100%;
    }
    .leader-info {
        text-align: center;
        width: 90%;
        align-self: center;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .card {
        width: 100%;
        margin: 0;
        height: 150px;
        margin: 3.5rem 0;
        top: -4.5rem;
    }
    .card-text {
        font-size: 1.2rem;
    }
    .see-all {
        position: static;
        width: 100%;
        text-align: center;
    }
    .creation-header {
        margin-bottom: 4.5rem;
    }
    
}

@media (max-width: 540px) {
    .card {
        margin: 1rem 0;
    }
    .see-all {
        margin-top: -2rem;
    }
}

@media (max-width: 375px) {
    .card {
        margin: 0;
    }
    .card-text {
        top: -4.5rem;
    }
    .creation-header {
        margin-bottom: 5.5rem;
    }
}

@media (max-width: 320px) {
    .banner {
        width: 90%;
        margin-left: 0.5rem;
    }
    .logo {
        padding-left: 0.5rem;
    }
    #leader {
        padding: 3rem .5rem;
    }
    .card {
        height: 120px;
    }
    
    .card-text {
        font-size: 1rem;
        top: -3.5rem;
    }
}